@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000; }
  body._lock {
    overflow: hidden; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.eot");
  src: local("☺"), url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.ttf") format("truetype"), url("../fonts/Montserrat.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: local("☺"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: "Open Sans", sans-serif; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1000px;
  padding: 0px 15px;
  margin: 0px auto; }

.header {
  z-index: 100;
  position: fixed;
  height: 84px;
  width: 100%;
  top: 0;
  left: 0; }
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1; }
  .header__wrapper {
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__burger {
    display: none;
    visibility: hidden;
    z-index: 2; }
  .header__list {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__list li {
      margin: 0px 15px;
      opacity: 0.67;
      font-size: 13.2px;
      font-weight: 600;
      text-transform: uppercase; }
      .header__list li:first-child {
        margin: 0px 15px 0px 0px; }
      .header__list li:last-child {
        margin: 0px 0px 0px 15px; }
  .header__link {
    z-index: 2;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #666666; }
    .header__link:hover {
      color: #000; }
  .header__button {
    z-index: 5;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 37px;
    opacity: 0.81;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__button:hover span {
      -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07); }
    .header__button p {
      opacity: 0.81;
      font-size: 13.2px;
      font-weight: 600;
      color: #ffffff; }
    .header__button span {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #add136;
      border-radius: 30px; }

.logo {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .logo__image {
    padding: 0px 5px 0px 0px; }
  .logo__text {
    padding: 0px 0px 0px 5px;
    font-family: "Nunito";
    font-size: 31.2px;
    text-transform: uppercase;
    color: #6d6e70; }
    .logo__text span {
      color: #595959; }

@media (max-width: 970px) {
  .header__list li {
    margin: 0px 8px; }
    .header__list li:first-child {
      margin: 0px 8px 0px 0px; }
    .header__list li:last-child {
      margin: 0px 0px 0px 8px; }
  .header__button {
    width: 80px; }
  .logo__image {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .logo__text {
    font-size: 26px; } }

@media (max-width: 840px) {
  .header {
    height: 70px; }
    .header:before {
      z-index: 4; }
    .header__wrapper {
      height: 70px; }
    .header__burger {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      z-index: 4;
      display: block;
      visibility: visible;
      position: relative;
      width: 30px;
      height: 18px;
      top: 0;
      left: 0; }
      .header__burger:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 0px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger span {
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 8px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 16px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .header__burger._active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 8px; }
    .header__burger._active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .header__burger._active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 8px; }
    .header__list {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      position: fixed;
      overflow: auto;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background-color: #2b313b;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 120px 0px 20px 0px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__list li {
        margin: 35px 0px 0px 0px;
        opacity: 1;
        font-size: 18px; }
        .header__list li:first-child {
          margin: 0px 0px 0px 0px; }
        .header__list li:last-child {
          margin: 35px 0px 0px 0px; }
    .header__list._active {
      top: 0; }
    .header__link {
      color: #fff; }
  __button {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    z-index: 4; } }

@media (max-width: 480px) {
  .header {
    height: 60px; }
    .header__wrapper {
      height: 60px; }
    .header__button {
      height: 30px;
      width: 70px; }
  .logo__image {
    display: none;
    visibility: hidden; }
  .logo__text {
    font-size: 24px;
    padding: 0px 0px 0px 0px; } }

.main {
  position: relative; }
  .main__wrapper {
    position: relative; }
  .main__slide {
    min-height: 100vh; }
  .main__container {
    z-index: 2;
    position: absolute;
    width: 13px;
    height: 20px;
    bottom: 48px;
    right: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .main__prev {
    margin: 0px 16px 0px 0px;
    cursor: pointer; }
  .main__next {
    margin: 0px 0px 0px 16px;
    cursor: pointer; }
  .main__central {
    padding: 0px 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__text {
    text-align: center;
    font-size: 49.2px;
    font-weight: 600;
    color: #ffffff; }
    .main__text span {
      margin: 25px 0px 0px 0px;
      display: block;
      font-size: 35.2px;
      font-weight: 400; }
  .main__button {
    margin: 59px 0px 0px 0px;
    width: 254px;
    height: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #99c50a;
    border-radius: 8px;
    position: relative;
    z-index: 23;
    overflow: hidden; }
    .main__button:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .main__button:hover p {
      color: #99c50a; }
    .main__button p {
      -webkit-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
      position: relative;
      z-index: 1;
      font-size: 19.2px;
      font-weight: 600;
      color: #fff; }
    .main__button:before {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      border-radius: 8px; }

@media (max-width: 1000px) {
  .main__container {
    right: 70px; }
  .main__text {
    font-size: 39.2px; }
    .main__text span {
      margin: 17px 0px 0px 0px;
      font-size: 30px; }
  .main__button {
    margin: 49px 0px 0px 0px;
    width: 210px;
    height: 63px; } }

@media (max-width: 760px) {
  .main__text {
    line-height: 50px; }
    .main__text span {
      margin: 0px 0px 0px 0px; } }

@media (max-width: 520px) {
  .main__text {
    font-size: 32.2px;
    line-height: 45px; }
    .main__text span {
      font-size: 26px; }
  .main__button {
    margin: 30px 0px 0px 0px;
    width: 180px;
    height: 53px; }
    .main__button p {
      font-size: 16px; } }

@media (max-width: 410px) {
  .main__text {
    font-size: 29px;
    line-height: 40px; }
    .main__text span {
      margin: -5px 0px 0px 0px;
      font-size: 24px; }
  .main__button {
    margin: 30px 0px 0px 0px; } }

@media (max-height: 470px) {
  .main__slide {
    min-height: 470px; } }

.capabilities {
  text-align: center;
  padding: 99px 0px 78px 0px; }
  .capabilities__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .capabilities__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58px;
    flex: 0 0 58px; }
    .capabilities__image img {
      max-width: 100%; }
  .capabilities__title {
    max-width: 515px;
    font-size: 31.2px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    margin: 45px auto 63px auto; }
  .capabilities__text {
    opacity: 0.7;
    font-size: 19.2px;
    line-height: 30px;
    color: #515151; }
    .capabilities__text p {
      margin: 47px 0px 0px 0px; }
      .capabilities__text p:first-child {
        margin: 0px 0px 0px 0px; }
  @media (max-width: 1024px) {
    .capabilities {
      padding: 70px 0px 50px 0px; }
      .capabilities__image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
        flex: 0 0 55px; }
      .capabilities__title {
        font-size: 28px;
        line-height: 45px;
        margin: 40px auto 50px auto; } }
  @media (max-width: 768px) {
    .capabilities {
      padding: 50px 0px 50px 0px; }
      .capabilities__title {
        margin: 40px auto 40px auto; } }
  @media (max-width: 590px) {
    .capabilities__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
      flex: 0 0 45px; }
    .capabilities__title {
      font-size: 24px;
      line-height: 35px;
      margin: 30px auto 30px auto; }
    .capabilities__text {
      font-size: 16px;
      line-height: 26px; }
      .capabilities__text p {
        margin: 20px 0px 0px 0px; }
        .capabilities__text p:first-child {
          margin: 0px 0px 0px 0px; } }
  @media (max-width: 480px) {
    .capabilities {
      padding: 30px 0px; }
      .capabilities__title {
        margin: 19px auto 20px auto; } }

.properties {
  padding: 78px 0px 53.5px 0px;
  height: 100%; }
  .properties__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -20px; }
  .properties__tab {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0px 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 33.2px;
    font-weight: 300;
    color: #656565;
    position: relative; }
    .properties__tab span {
      width: 43px;
      height: 43px;
      background-color: grey;
      border-radius: 50%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 20.2px;
      color: #ffffff;
      margin: 0px 31px 0px 0px;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .properties__tab:after {
      content: "";
      position: absolute;
      bottom: -37px;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: #add136;
      -webkit-transition: width 0.8s ease 0s;
      -o-transition: width 0.8s ease 0s;
      transition: width 0.8s ease 0s; }
    .properties__tab.active:after {
      width: 100%; }
    .properties__tab.active span {
      background-color: #add136; }
  .properties__body {
    margin: 103px auto 0px auto;
    max-width: 730px;
    position: relative; }
  .properties__content {
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none; }
    .properties__content.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-animation: fade 1s ease;
      animation: fade 1s ease; }
  .properties__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 113px;
    flex: 1 0 113px;
    margin: 0px 105px 0px 0px; }
    .properties__image img {
      max-width: 100%; }
  .properties__text {
    justify-items: center; }
  .properties__title {
    font-size: 25.2px;
    color: #add136; }
  .properties__subtitle {
    margin: 34px 0px 0px 0px;
    opacity: 0.67;
    font-size: 17.2px;
    line-height: 30px;
    color: #606060; }
  @media (max-width: 1050px) {
    .properties {
      padding: 50px 0px; }
      .properties__tab {
        font-size: 28px; }
        .properties__tab span {
          width: 33px;
          height: 33px;
          font-size: 17px;
          margin: 0px 20px 0px 0px; }
        .properties__tab:after {
          bottom: -27px;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
        .properties__tab.active:after {
          width: 80%; }
      .properties__body {
        margin: 73px auto 0px auto;
        max-width: 730px;
        position: relative; }
      .properties__image {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
        flex: 1 0 80px;
        margin: 0px 70px 0px 0px; }
      .properties__subtitle {
        margin: 24px 0px 0px 0px; } }
  @media (max-width: 890px) {
    .properties {
      padding: 30px 0px 50px 0px; }
      .properties__tabs {
        display: block; }
      .properties__tab {
        width: 100px;
        height: 50px;
        margin: 5px auto 5px auto;
        border-radius: 5px;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
        .properties__tab:first-child {
          margin: 0px auto 5px auto; }
        .properties__tab:last-child {
          margin: 5px auto 0px auto; }
        .properties__tab:after {
          display: none; }
        .properties__tab span {
          display: none; }
        .properties__tab.active {
          width: 300px;
          color: #fff;
          background-color: #add136; }
      .properties__body {
        margin: 40px auto 0px auto;
        max-width: 700px; }
      .properties__image {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 80px;
        flex: 1 0 80px;
        margin: 0px 40px 0px 0px; }
      .properties__subtitle {
        margin: 20px 0px 0px 0px;
        font-size: 17.2px;
        line-height: 28px; } }
  @media (max-width: 770px) {
    .properties {
      padding: 30px 0px; }
      .properties__image {
        display: none;
        visibility: hidden; }
      .properties__text {
        text-align: center; }
      .properties__subtitle {
        margin: 15px 0px 0px 0px;
        font-size: 17.2px;
        line-height: 28px; } }
  @media (max-width: 600px) {
    .properties {
      padding: 15px 0px 30px 0px; }
      .properties__tab {
        font-size: 24px;
        width: 50px; }
        .properties__tab.active {
          width: 180px;
          background-color: #add136; }
      .properties__body {
        margin: 25px auto 0px auto; }
      .properties__title {
        font-size: 23px;
        line-height: 28px; }
      .properties__subtitle {
        margin: 10px 0px 0px 0px;
        font-size: 15px;
        line-height: 26px; } }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.find {
  padding: 257px 0px 0px 0px; }
  .find__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .find__column {
    padding: 47px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .find__column_1 {
      background-color: #e2f8ff; }
    .find__column_2 {
      background-color: #f5f9eb; }

.item {
  max-width: 450px;
  margin: 0px auto; }
  .item__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .item__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 133px;
    flex: 1 0 133px;
    margin: 0px 45px 0px 0px; }
    .item__image img {
      max-width: 100%; }
  .item__title {
    font-family: "Montserrat";
    font-size: 23.2px;
    font-weight: 400;
    color: #515151; }
  .item__text {
    margin: 34px 0px 31px 0px;
    font-size: 17.2px;
    line-height: 28px;
    color: #515151; }
  .item__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 187px;
    height: 51px;
    border-radius: 10px;
    position: relative; }
    .item__button_1 {
      background-color: #26a6d1;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .item__button_1:before {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background-color: #add136;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .item__button_1:hover::before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .item__button_2 {
      background-color: #add136;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .item__button_2:before {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background-color: #26a6d1;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .item__button_2:hover::before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .item__button p {
      position: relative;
      z-index: 2;
      font-size: 14.9px;
      font-weight: 600;
      color: #ffffff; }

@media (max-width: 1050px) {
  .find {
    padding: 200px 0px 0px 0px; }
  .item__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 90px;
    flex: 1 0 90px;
    margin: 0px 40px 0px 0px; }
  .item__text {
    margin: 20px 0px;
    font-size: 17.2px;
    line-height: 28px;
    color: #515151; } }

@media (max-width: 970px) {
  .find__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .find__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .item__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 110px;
    flex: 1 0 110px;
    margin: 0px 70px 0px 0px; }
  .item__text {
    margin: 20px 0px;
    font-size: 17.2px;
    line-height: 28px;
    color: #515151; } }

@media (max-width: 890px) {
  .find {
    padding: 180px 0px 0px 0px; } }

@media (max-width: 600px) {
  .find {
    padding: 170px 0px 0px 0px; }
  .item__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 80px;
    flex: 1 0 80px;
    margin: 0px 40px 0px 0px; }
  .item__title {
    font-size: 20px; }
  .item__text {
    font-size: 15px;
    line-height: 26px; }
  .item__button {
    width: 155px;
    height: 45px;
    border-radius: 7px; }
    .item__button p {
      font-size: 14px; } }

@media (max-width: 500px) {
  .find {
    padding: 190px 0px 0px 0px; }
  .item__image {
    display: none; }
  .item__body {
    text-align: center; }
  .item__button {
    margin: 0px auto; } }

@media (max-width: 450px) {
  .find {
    padding: 210px 0px 0px 0px; } }

@media (max-width: 350px) {
  .find {
    padding: 240px 0px 0px 0px; } }

.future {
  position: relative;
  z-index: 2;
  padding: 81px 0px 0px 0px; }
  .future__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .future__title {
    font-size: 29.2px;
    font-weight: 600;
    color: #515151;
    margin: 0px 0px 26px 0px; }
  .future__text {
    max-width: 700px;
    font-size: 17.2px;
    line-height: 28px;
    color: #8f8f8f; }
  .future__button {
    position: relative;
    width: 183px;
    height: 52px;
    background-color: #ffffff;
    border: 2px solid #51515191;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 7px; }
    .future__button:before {
      content: "";
      position: absolute;
      width: 101%;
      height: 101%;
      top: -0.5%;
      left: -0.5%;
      background-color: grey;
      border-radius: 5px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .future__button p {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0.7;
      font-size: 14.9px;
      font-weight: 600;
      color: #515151; }
    .future__button:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .future__button:hover p {
      color: #fff; }
  .future__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 62px -20px 0px -20px; }
  .future__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0px 20px; }

.items {
  height: 100%; }
  .items:hover .items__image img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }
  .items:hover .items__marker {
    -webkit-transform: rotate(-45deg) translate(0%, -70%);
    -ms-transform: rotate(-45deg) translate(0%, -70%);
    transform: rotate(-45deg) translate(0%, -70%); }
  .items__wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    height: 100%; }
  .items__image {
    position: relative; }
  .items__ibg img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .items__marker {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transform: rotate(-45deg) translate(0%, -75%);
    -ms-transform: rotate(-45deg) translate(0%, -75%);
    transform: rotate(-45deg) translate(0%, -75%); }
    .items__marker p {
      font-family: "Montserrat";
      padding: 0px 0px 10px 0px;
      font-size: 14.6px;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 114px;
      height: 114px;
      background-color: #add136; }
  .items__cost {
    position: absolute;
    bottom: 18px;
    right: 15px;
    width: 139px;
    height: 35px;
    background-color: #26a6d1;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .items__cost:hover {
      background-color: #0d4b5e; }
    .items__cost p {
      font-size: 16.6px;
      color: #ffffff;
      font-weight: 700; }
      .items__cost p span {
        font-weight: 400;
        opacity: 0.7; }
  .items__content {
    margin: -1px 0px 0px 0px;
    background-color: #fafafa;
    padding: 29px 25px 35px 25px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    height: 100%; }
  .items__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%; }
  .items__head {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .items__title {
    font-size: 17.2px;
    font-weight: 700;
    color: #484848;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    transition: all 0.3s ease 0s; }
    .items__title:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: #484848;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .items__title:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .items__text {
    margin: 15px 0px;
    opacity: 0.7;
    font-size: 13.2px;
    line-height: 20px;
    color: #484848; }
  .items__line {
    width: 100%;
    height: 14px;
    background-color: #e3e3e3;
    border-radius: 10px;
    position: relative; }
    .items__line:before {
      content: "";
      position: absolute;
      width: 10%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #add136;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .items__line_ei:before {
      content: "";
      width: 80%; }
    .items__line_six:before {
      content: "";
      width: 60%; }
  .items__info {
    margin: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .items__percents {
    font-size: 13.2px;
    font-weight: 600;
    color: #8d8d8d; }
  .items__days {
    font-size: 13.2px;
    font-weight: 600;
    color: #8d8d8d; }
  .items__end {
    margin: 20px 0px 26px 0px;
    width: 100%;
    height: 1px;
    background-color: #d6d6d6; }
  .items__link {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .items__link:hover .items__details {
      color: #000; }
    .items__link:hover .items__shape {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .items__details {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0px 10px 0px 0px;
    opacity: 0.85;
    font-size: 15.2px;
    font-weight: 600;
    color: #484848; }
  .items__shape {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

@media (max-width: 1050px) {
  .future__title {
    font-size: 26px;
    margin: 0px 0px 20px 0px; }
  .future__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 12px -20px 0px -20px; }
  .future__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 50px 20px 0px 20px; }
  .items__ibg {
    height: 220px; }
    .items__ibg_1 {
      background-image: url("../img/future/01.png"); }
    .items__ibg_2 {
      background-image: url("../img/future/02.png"); }
    .items__ibg_3 {
      background-image: url("../img/future/03.png"); } }

@media (max-width: 940px) {
  .future {
    padding: 70px 0px 0px 0px; }
    .future__header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .future__title {
      text-align: center;
      margin: 0px auto; }
    .future__text {
      text-align: center;
      margin: 30px 0px; }
    .future__content {
      margin: 0px -20px 0px -20px; }
    .future__column {
      padding: 40px 20px 0px 20px; } }

@media (max-width: 768px) {
  .future {
    padding: 50px 0px 0px 0px; } }

@media (max-width: 620px) {
  .future__title {
    font-size: 24px; }
  .future__text {
    margin: 20px 0px; }
  .future__content {
    margin: 10px -20px 0px -20px; }
  .future__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 500px;
    padding: 30px 20px 0px 20px; } }

@media (max-width: 600px) {
  .future {
    padding: 30px 0px 0px 0px; }
    .future__title {
      font-size: 22px; }
    .future__text {
      font-size: 15px;
      line-height: 24px;
      margin: 20px 0px; } }

.community {
  position: relative;
  margin: -55px 0px 0px 0px; }
  .community__background {
    height: 700px; }
  .community__main {
    padding: 20px 0px 61px 0px;
    text-align: center;
    background: url("../img/community/background.png") center no-repeat;
    background-size: cover; }
  .community__title {
    margin: 120px 0px 0px 0px;
    font-size: 39.2px;
    line-height: 46px;
    font-weight: 600;
    color: #9ec02d; }
  .community__subtitle {
    margin: 42px 0px 98px 0px;
    font-size: 19.2px;
    line-height: 30px;
    color: #949494; }
  .community__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -77.5px; }
  .community__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0px 77.5px; }
  .community__comment {
    padding: 25px 42px 25px 36px;
    background-color: #ffffff;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .community__label {
    font-size: 21.2px;
    font-weight: 600;
    color: #9ec02d;
    margin: 0px 0px 18px 0px; }
  .community__text {
    font-size: 13.2px;
    line-height: 22px;
    color: #848484;
    max-width: 321px;
    margin: 0px auto; }
  .community__photo {
    margin: 33px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .community__image {
    position: relative;
    margin: 0px 18px 0px 49px; }
    .community__image:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 0px;
      top: 0;
      left: 0;
      border-left: -7px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #fff;
      -webkit-transform: translate(35px, -43px);
      -ms-transform: translate(35px, -43px);
      transform: translate(35px, -43px); }
  .community__name {
    font-family: "Montserrat";
    font-size: 15.2px;
    line-height: 1.2;
    font-weight: 400;
    color: #494949; }
  @media (max-width: 950px) {
    .community__title {
      margin: 100px 0px 0px 0px;
      font-size: 33px;
      line-height: 40px; }
    .community__subtitle {
      margin: 36px 0px 68px 0px;
      font-size: 17.2px;
      line-height: 30px;
      color: #949494; } }
  @media (max-width: 768px) {
    .community__body {
      margin: 0px -30px; }
    .community__column {
      padding: 0px 30px; } }
  @media (max-width: 640px) {
    .community__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .community__column {
      margin: 40px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
      .community__column:first-child {
        margin: 0px auto; } }
  @media (max-width: 600px) {
    .community__title {
      font-size: 30px;
      line-height: 36px; }
    .community__subtitle {
      margin: 36px 0px 48px 0px;
      font-size: 15.2px;
      line-height: 26px; } }
  @media (max-width: 450px) {
    .community__main {
      padding: 30px 0px; }
    .community__title {
      margin: 70px 0px 0px 0px;
      font-size: 26px;
      line-height: 32px; }
    .community__subtitle {
      margin: 25px 0px 25px 0px;
      font-size: 15px; }
    .community__column {
      margin: 30px 0px 0px 0px; }
      .community__column:first-child {
        margin: 0px auto; } }
