@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000; }
  body._lock {
    overflow: hidden; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.eot");
  src: local("☺"), url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.ttf") format("truetype"), url("../fonts/Montserrat.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: local("☺"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: "Open Sans", sans-serif; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1000px;
  padding: 0px 15px;
  margin: 0px auto; }

.header {
  z-index: 100;
  position: fixed;
  height: 84px;
  width: 100%;
  top: 0;
  left: 0; }
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1; }
  .header__wrapper {
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__burger {
    display: none;
    visibility: hidden;
    z-index: 2; }
  .header__list {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__list li {
      margin: 0px 15px;
      opacity: 0.67;
      font-size: 13.2px;
      font-weight: 600;
      text-transform: uppercase; }
      .header__list li:first-child {
        margin: 0px 15px 0px 0px; }
      .header__list li:last-child {
        margin: 0px 0px 0px 15px; }
  .header__link {
    z-index: 2;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #666666; }
    .header__link:hover {
      color: #000; }
  .header__button {
    z-index: 5;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 37px;
    opacity: 0.81;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__button:hover span {
      -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07); }
    .header__button p {
      opacity: 0.81;
      font-size: 13.2px;
      font-weight: 600;
      color: #ffffff; }
    .header__button span {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #add136;
      border-radius: 30px; }

.logo {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .logo__image {
    padding: 0px 5px 0px 0px; }
  .logo__text {
    padding: 0px 0px 0px 5px;
    font-family: "Nunito";
    font-size: 31.2px;
    text-transform: uppercase;
    color: #6d6e70; }
    .logo__text span {
      color: #595959; }

@media (max-width: 970px) {
  .header__list li {
    margin: 0px 8px; }
    .header__list li:first-child {
      margin: 0px 8px 0px 0px; }
    .header__list li:last-child {
      margin: 0px 0px 0px 8px; }
  .header__button {
    width: 80px; }
  .logo__image {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .logo__text {
    font-size: 26px; } }

@media (max-width: 840px) {
  .header {
    height: 70px; }
    .header:before {
      z-index: 4; }
    .header__wrapper {
      height: 70px; }
    .header__burger {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      z-index: 4;
      display: block;
      visibility: visible;
      position: relative;
      width: 30px;
      height: 18px;
      top: 0;
      left: 0; }
      .header__burger:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 0px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger span {
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 8px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 16px;
        left: 0;
        background-color: #595959;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .header__burger._active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 8px; }
    .header__burger._active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .header__burger._active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 8px; }
    .header__list {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      position: fixed;
      overflow: auto;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background-color: #2b313b;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 120px 0px 20px 0px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__list li {
        margin: 35px 0px 0px 0px;
        opacity: 1;
        font-size: 18px; }
        .header__list li:first-child {
          margin: 0px 0px 0px 0px; }
        .header__list li:last-child {
          margin: 35px 0px 0px 0px; }
    .header__list._active {
      top: 0; }
    .header__link {
      color: #fff; }
  __button {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    z-index: 4; } }

@media (max-width: 480px) {
  .header {
    height: 60px; }
    .header__wrapper {
      height: 60px; }
    .header__button {
      height: 30px;
      width: 70px; }
  .logo__image {
    display: none;
    visibility: hidden; }
  .logo__text {
    font-size: 24px;
    padding: 0px 0px 0px 0px; } }

.main__wrapper {
  position: relative; }

.main__slide {
  min-height: 100vh; }

.main__container {
  z-index: 1;
  position: absolute;
  width: 13px;
  height: 20px;
  bottom: 48px;
  right: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.main__prev {
  margin: 0px 16px 0px 0px;
  cursor: pointer; }

.main__next {
  margin: 0px 0px 0px 16px;
  cursor: pointer; }
