//  <MAIN>  ======================================================
.main {
	position: relative;
	&__wrapper {
		position: relative;
	}

	&__slide {
		min-height: 100vh;
	}

	&__container {
		z-index: 2;
		position: absolute;
		width: 13px;
		height: 20px;
		bottom: 48px;
		right: 140px;
		display: flex;
		justify-content: flex-start;
	}
	&__prev {
		margin: 0px 16px 0px 0px;
		cursor: pointer;
	}
	&__next {
		margin: 0px 0px 0px 16px;
		cursor: pointer;
	}

	&__central {
		padding: 0px 10px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__text {
		text-align: center;
		font-size: 49.2px;
		font-weight: 600;
		color: #ffffff;
		& span {
			margin: 25px 0px 0px 0px;
			display: block;
			font-size: 35.2px;
			font-weight: 400;
		}
	}

	&__button {
		margin: 59px 0px 0px 0px;
		width: 254px;
		height: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #99c50a;
		border-radius: 8px;
		position: relative;
		z-index: 23;
		overflow: hidden;
		&:hover {
			&:before {
				transform: scale(1);
			}
			& p {
				color: #99c50a;
			}
		}
		& p {
			transition: all 0.25s ease 0s;
			position: relative;
			z-index: 1;
			font-size: 19.2px;
			font-weight: 600;
			color: #fff;
		}
		&:before {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			z-index: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #fff;
			border-radius: 8px;
		}
	}
}

@media (max-width: 1000px) {
	.main {
		&__container {
			right: 70px;
		}
		&__text {
			font-size: 39.2px;
			& span {
				margin: 17px 0px 0px 0px;
				font-size: 30px;
			}
		}
		&__button {
			margin: 49px 0px 0px 0px;
			width: 210px;
			height: 63px;
		}
	}
}

@media (max-width: 760px) {
	.main {
		&__text {
			line-height: 50px;
			& span {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

@media (max-width: 520px) {
	.main {
		&__text {
			font-size: 32.2px;
			line-height: 45px;
			& span {
				font-size: 26px;
			}
		}
		&__button {
			margin: 30px 0px 0px 0px;
			width: 180px;
			height: 53px;
			& p {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 410px) {
	.main {
		&__text {
			font-size: 29px;
			line-height: 40px;
			& span {
				margin: -5px 0px 0px 0px;
				font-size: 24px;
			}
		}
		&__button {
			margin: 30px 0px 0px 0px;
		}
	}
}

@media (max-height: 470px) {
	.main {
		&__slide {
			min-height: 470px;
		}
	}
}

//  <CAPABILITIES>  ======================================================
.capabilities {
	text-align: center;
	padding: 99px 0px 78px 0px;
	&__icon {
		display: flex;
		justify-content: center;
	}
	&__image {
		flex: 0 0 58px;
		& img {
			max-width: 100%;
		}
	}

	&__title {
		max-width: 515px;
		font-size: 31.2px;
		line-height: 50px;
		font-weight: 600;
		text-transform: uppercase;
		color: #515151;
		margin: 45px auto 63px auto;
	}

	&__text {
		opacity: 0.7;
		font-size: 19.2px;
		line-height: 30px;
		color: #515151;
		& p {
			&:first-child {
				margin: 0px 0px 0px 0px;
			}
			margin: 47px 0px 0px 0px;
		}
	}

	@media (max-width: 1024px) {
		padding: 70px 0px 50px 0px;
		&__image {
			flex: 0 0 55px;
		}
		&__title {
			font-size: 28px;
			line-height: 45px;
			margin: 40px auto 50px auto;
		}
	}
	@media (max-width: 768px) {
		padding: 50px 0px 50px 0px;
		&__title {
			margin: 40px auto 40px auto;
		}
	}
	@media (max-width: 590px) {
		&__image {
			flex: 0 0 45px;
		}
		&__title {
			font-size: 24px;
			line-height: 35px;
			margin: 30px auto 30px auto;
		}
		&__text {
			font-size: 16px;
			line-height: 26px;
			& p {
				&:first-child {
					margin: 0px 0px 0px 0px;
				}
				margin: 20px 0px 0px 0px;
			}
		}
	}
	@media (max-width: 480px) {
		padding: 30px 0px;
		&__title {
			margin: 19px auto 20px auto;
		}
	}
}

//  <PROPERTIES>  ======================================================
.properties {
	padding: 78px 0px 53.5px 0px;
	height: 100%;
	&__tabs {
		display: flex;
		margin: 0px -20px;
	}

	&__tab {
		flex: 0 1 33.333%;
		padding: 0px 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 33.2px;
		font-weight: 300;
		color: #656565;
		position: relative;
		& span {
			width: 43px;
			height: 43px;
			background-color: grey;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 20.2px;
			color: #ffffff;
			margin: 0px 31px 0px 0px;
			transition: all 0.5s ease 0s;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -37px;
			left: 0;
			width: 0%;
			height: 1px;
			background-color: #add136;
			transition: width 0.8s ease 0s;
		}
		&.active:after {
			width: 100%;
		}
		&.active span {
			background-color: #add136;
		}
	}

	&__number {
	}

	&__body {
		margin: 103px auto 0px auto;
		max-width: 730px;
		position: relative;
	}

	&__content {
		position: absolute;
		align-items: center;
		display: none;
		&.active {
			display: flex;
			animation: fade 1s ease;
		}
	}

	&__image {
		flex: 1 0 113px;
		margin: 0px 105px 0px 0px;
		& img {
			max-width: 100%;
		}
	}

	&__text {
		justify-items: center;
	}

	&__title {
		font-size: 25.2px;
		color: #add136;
	}

	&__subtitle {
		margin: 34px 0px 0px 0px;
		opacity: 0.67;
		font-size: 17.2px;
		line-height: 30px;
		color: #606060;
	}

	@media (max-width: 1050px) {
		padding: 50px 0px;
		&__tab {
			font-size: 28px;
			& span {
				width: 33px;
				height: 33px;
				font-size: 17px;
				margin: 0px 20px 0px 0px;
			}
			&:after {
				bottom: -27px;
				left: 50%;
				transform: translate(-50%, 0);
			}
			&.active:after {
				width: 80%;
			}
		}
		&__body {
			margin: 73px auto 0px auto;
			max-width: 730px;
			position: relative;
		}
		&__image {
			flex: 1 0 80px;
			margin: 0px 70px 0px 0px;
		}
		&__subtitle {
			margin: 24px 0px 0px 0px;
		}
	}

	@media (max-width: 890px) {
		padding: 30px 0px 50px 0px;
		&__tabs {
			display: block;
		}
		&__tab {
			width: 100px;
			height: 50px;
			margin: 5px auto 5px auto;
			border-radius: 5px;
			transition: all 0.4s ease 0s;
			&:first-child {
				margin: 0px auto 5px auto;
			}
			&:last-child {
				margin: 5px auto 0px auto;
			}
			&:after {
				display: none;
			}
			& span {
				display: none;
			}
			&.active {
				width: 300px;
				color: #fff;
				background-color: #add136;
			}
		}
		&__body {
			margin: 40px auto 0px auto;
			max-width: 700px;
		}
		&__image {
			flex: 1 0 80px;
			margin: 0px 40px 0px 0px;
		}
		&__subtitle {
			margin: 20px 0px 0px 0px;
			font-size: 17.2px;
			line-height: 28px;
		}
	}
	@media (max-width: 770px) {
		padding: 30px 0px;
		&__image {
			display: none;
			visibility: hidden;
		}
		&__text {
			text-align: center;
		}
		&__subtitle {
			margin: 15px 0px 0px 0px;
			font-size: 17.2px;
			line-height: 28px;
		}
	}
	@media (max-width: 600px) {
		padding: 15px 0px 30px 0px;
		&__tab {
			font-size: 24px;
			width: 50px;
			&.active {
				width: 180px;
				background-color: #add136;
			}
		}
		&__body {
			margin: 25px auto 0px auto;
		}
		&__title {
			font-size: 23px;
			line-height: 28px;
		}
		&__subtitle {
			margin: 10px 0px 0px 0px;
			font-size: 15px;
			line-height: 26px;
		}
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

//  <FIND>  ======================================================

.find {
	padding: 257px 0px 0px 0px;
	&__wrapper {
		display: flex;
	}

	&__column {
		padding: 47px 15px;
		flex: 0 1 50%;

		&_1 {
			background-color: #e2f8ff;
		}
		&_2 {
			background-color: #f5f9eb;
		}
	}

	&__item {
	}
}
.item {
	max-width: 450px;
	margin: 0px auto;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		flex: 1 0 133px;
		margin: 0px 45px 0px 0px;
		& img {
			max-width: 100%;
		}
	}

	&__body {
	}

	&__title {
		font-family: "Montserrat";
		font-size: 23.2px;
		font-weight: 400;
		color: #515151;
	}

	&__text {
		margin: 34px 0px 31px 0px;
		font-size: 17.2px;
		line-height: 28px;
		color: #515151;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 187px;
		height: 51px;
		border-radius: 10px;
		position: relative;
		&_1 {
			background-color: #26a6d1;
			transition: all 0.3s ease 0s;
			&:before {
				content: "";
				transition: all 0.3s ease 0s;
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 10px;
				background-color: #add136;
				transform: scale(0);
			}
			&:hover {
				&::before {
					transform: scale(1);
				}
			}
		}
		&_2 {
			background-color: #add136;
			transition: all 0.3s ease 0s;
			&:before {
				content: "";
				transition: all 0.3s ease 0s;
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 10px;
				background-color: #26a6d1;
				transform: scale(0);
			}
			&:hover {
				&::before {
					transform: scale(1);
				}
			}
		}
		& p {
			position: relative;
			z-index: 2;
			font-size: 14.9px;
			font-weight: 600;
			color: #ffffff;
		}
	}
}

@media (max-width: 1050px) {
	.find {
		padding: 200px 0px 0px 0px;
	}

	.item {
		&__image {
			flex: 1 0 90px;
			margin: 0px 40px 0px 0px;
		}
		&__text {
			margin: 20px 0px;
			font-size: 17.2px;
			line-height: 28px;
			color: #515151;
		}
	}
}

@media (max-width: 970px) {
	.find {
		&__wrapper {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 100%;
		}
	}
	.item {
		&__image {
			flex: 1 0 110px;
			margin: 0px 70px 0px 0px;
		}
		&__text {
			margin: 20px 0px;
			font-size: 17.2px;
			line-height: 28px;
			color: #515151;
		}
	}
}

@media (max-width: 890px) {
	.find {
		padding: 180px 0px 0px 0px;
	}
}

@media (max-width: 600px) {
	.find {
		padding: 170px 0px 0px 0px;
	}
	.item {
		&__image {
			flex: 1 0 80px;
			margin: 0px 40px 0px 0px;
		}
		&__title {
			font-size: 20px;
		}
		&__text {
			font-size: 15px;
			line-height: 26px;
		}
		&__button {
			width: 155px;
			height: 45px;
			border-radius: 7px;
			& p {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 500px) {
	.find {
		padding: 190px 0px 0px 0px;
	}
	.item {
		&__image {
			display: none;
		}
		&__body {
			text-align: center;
		}
		&__button {
			margin: 0px auto;
		}
	}
}

@media (max-width: 450px) {
	.find {
		padding: 210px 0px 0px 0px;
	}
}

@media (max-width: 350px) {
	.find {
		padding: 240px 0px 0px 0px;
	}
}
